<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Seafile Sync</name>
        <version>0.1</version>
        <author>trap000d</author>
        <id>seafilesync</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
