[server]
url = https://seafile.example.com
library = MyBooks
user = user@mail.server
password = Password

[kindle]
local = /mnt/us/documents/Seafile
; screen dimensions in chars: 68x60 for PW3/KV, 48x42 for PW2
width  = 68
height = 60

